
body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    margin: 0 auto;
    background-color:#FFB6C4;
}

#YTplayer{
    display: block;
    margin: 150px 0 0 100px; 
    float:left;  
}

#scorecard{
    display: block;
    float:left; 
    width:350px;
    height:125px;
    margin-top: 150px;
    margin-bottom: 150px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    float:left; 
    background-color: #131E6E;

}

.score{
    color:#FFB6C4;
    text-align:left;
    margin-left:10px;
    font-size: 20px;
    font-weight:bold;
}

.leScore{
    color: white;
    text-align:left;
    margin-left:5px;
    margin-right:5px;
    font-size: 30px;
    font-weight:bold;
}

.lePlayer{
    color: white;
    text-align:left;
    margin-left:5px;
    margin-right:5px;
    font-size: 20px;
    font-weight:bold;
}

#questionId{
    display:block;
    width:350px;
    height:0px;
    float:right;
    border-top-right-radius:25px;
    border-top-left-radius:25px;
    background-color: #131E6E;
    margin-right:100px;
    overflow:hidden;
    bottom:0px;
}

#question{
    color: white;
    text-align:left;
    margin-left:5px;
    margin-right:5px;
    font-size: 25px;
    font-weight:bold;
    padding-left:20px;
}



.answerButton{
    padding-left:10px;
}

.answerButton button {
    display: block;
    margin-left:10px;
    width:300px;
    height:60px;
    margin-top: 12.5px;
    padding-left:20px;
    border-radius:30px; 
    background-color: #FFB6C4;
    text-align:left;
    border-style:solid;
    border-width: 3px;
    border-color:white;
    color:white;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
    line-height: 50px;
}

.answerButton button:hover {
    background-color:#FFF1B6;
    }


#countdown {
    position: relative;
    margin: 0 auto;
    margin-top:10px;
    height: 40px;
    width: 40px;
    text-align: center;
  }
  
  #countdown-number {
    color: white;
    display: inline-block;
    line-height: 40px;
  }
  
  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  #svgcircle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 4px;
    stroke: #FFB6C4;
    fill: none;
    animation: countdown 1s linear infinite forwards;
  }
  
  /* @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  } */
    




